<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auto.server.rpc.diagnosis.pojo.DiagnosisMainsympQuestion">
    <resultMap id="diagnosisMainsympQuestion" type="com.auto.server.rpc.diagnosis.pojo.DiagnosisMainsympQuestion">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="question_code" jdbcType="VARCHAR" property="questionCode"/>
        <result column="main_symp_code" jdbcType="VARCHAR" property="mainSympCode"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="popu_title" jdbcType="VARCHAR" property="popuTitle"/>
        <result column="gender" jdbcType="INTEGER" property="gender"/>
        <result column="min_age" jdbcType="INTEGER" property="minAge"/>
        <result column="max_age" jdbcType="INTEGER" property="maxAge"/>
        <result column="default_order" jdbcType="INTEGER" property="defaultOrder"/>
        <result column="question_type" jdbcType="INTEGER" property="questionType"/>
        <result column="incre_flag" jdbcType="VARCHAR" property="increFlag"/>
        <result column="opera_flag" jdbcType="VARCHAR" property="operaFlag"/>
        <result column="operate_type" jdbcType="VARCHAR" property="operateType"/>
        <result column="data_version" jdbcType="INTEGER" property="dataVersion"/>
        <result column="version_evolution" jdbcType="VARCHAR" property="versionEvolution"/>
    </resultMap>

    <!-- 查询主症状下的所有问题 -->
    <select id="queryDiagnosisMainsympQuestion" resultType="DataRecord" parameterType="HashMap">
      select * from diagnosis_mainsymp_question where main_symp_code=#{mainSympCode}
    </select>

    <!-- 查询主症状下的未回答问题 -->
    <select id="queryUntreatedQuestion" resultType="DataRecord" parameterType="HashMap">
      select * from diagnosis_mainsymp_question where main_symp_code=#{mainSympCode} and default_order>#{defaultOrder} order by default_order ASC
    </select>

    <!--查询下一个问题 -->
    <select id="getDiagnosisMainsympQuestion" resultMap="diagnosisMainsympQuestion" parameterType="HashMap">
      select * from diagnosis_mainsymp_question where main_symp_code=#{mainSympCode} and default_order>#{defaultOrder} order by default_order ASC limit 1
    </select>

    <!--查询单个问题 -->
    <select id="getQuestionByCode" resultType="DataRecord" parameterType="HashMap">
      select dmq.id,dmq.question_code,dmq.main_symp_code,dmq.title,dmq.popu_title,dmq.gender,dmq.min_age,dmq.max_age,dmq.default_order,dmq.question_type,dms.symp_name,dms.popu_name
      from diagnosis_mainsymp_question dmq INNER join diagnosis_main_symptoms dms on(dms.symp_code=dmq.main_symp_code)
      where dmq.question_code=#{questionCode}
    </select>
    <!--查询多个问题 -->
    <select id="queryDiseaseQuestion" resultType="DataRecord" parameterType="HashMap">
      select dmq.id,dmq.question_code,dmq.main_symp_code,dmq.title,dmq.popu_title,dmq.gender,dmq.min_age,dmq.max_age,dmq.default_order,dmq.question_type,ddmq.disease_code,ddmq.question_order,ddmq.weight
      from diagnosis_mainsymp_question dmq
      left join diagnosis_disease_mainsym_question ddmq on(ddmq.main_sym_code=dmq.main_symp_code and dmq.question_code=ddmq.question_code)
      where dmq.main_symp_code=  #{mainSympCode}
    </select>
    <!--查询疾病下每个问题对应的答案总数量 -->
    <select id="queryAnswerCount" resultType="DataRecord" parameterType="HashMap">
      select dmq.*,dqa.disease_code,count(dqa.answer_code) answer_total from  diagnosis_mainsymp_question dmq
        INNER join diagnosis_question_answer dqa on(dmq.question_code=dqa.question_code)
        where dmq.main_symp_code= #{mainSympCode}
        group by dqa.question_code,dqa.disease_code
        order by answer_total desc
    </select>

</mapper>