<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auto.server.rpc.diagnosis.pojo.DiagnosisMainSymptoms">
    <resultMap id="diagnosisMainSymptoms" type="com.auto.server.rpc.diagnosis.pojo.DiagnosisMainSymptoms">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="symp_code" jdbcType="VARCHAR" property="sympCode"/>
        <result column="symp_name" jdbcType="VARCHAR" property="sympName"/>
        <result column="popu_name" jdbcType="VARCHAR" property="popuName"/>
        <result column="symbol" jdbcType="VARCHAR" property="symbol"/>
        <result column="gender" jdbcType="INTEGER" property="gender"/>
        <result column="min_age" jdbcType="INTEGER" property="minAge"/>
        <result column="max_age" jdbcType="INTEGER" property="maxAge"/>
        <result column="default_order" jdbcType="INTEGER" property="defaultOrder"/>
        <result column="template_id" jdbcType="BIGINT" property="templateId"/>
        <result column="special_period" jdbcType="INTEGER" property="specialPeriod"/>
        <result column="incre_flag" jdbcType="VARCHAR" property="increFlag"/>
        <result column="opera_flag" jdbcType="VARCHAR" property="operaFlag"/>
        <result column="operate_type" jdbcType="VARCHAR" property="operateType"/>
        <result column="data_version" jdbcType="INTEGER" property="dataVersion"/>
        <result column="version_evolution" jdbcType="VARCHAR" property="versionEvolution"/>
    </resultMap>

	<select id="queryByKeyword" resultType="DataRecord" parameterType="HashMap">
		select * from diagnosis_main_symptoms
		<where>
			<if test="sympNameList != null">
				and symp_name in
				<foreach item="item" index="index" collection="sympNameList" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
</mapper>