<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auto.server.rpc.diagnosis.pojo.DiagnosisMainsympConcsymp">


    <select id="queryDiagnosisMainsympConcsymp" parameterType="HashMap" resultType="DataRecord">
        select dmcs.id,dmcs.main_symp_code,dmcs.disease_code,dmcs.conc_symp_code,dmcs.symp_spec,dmcs.rate,dmcs.default_order,
        dcs.symp_name,dcs.popu_name,dcs.symbol,dcs.gender,dcs.min_age,dcs.max_age
        from diagnosis_mainsymp_concsymp dmcs INNER JOIN diagnosis_concomitant_symptom dcs on(dcs.symp_code=dmcs.conc_symp_code)
        where dmcs.main_symp_code=#{mainSympCode}
    </select>
    <select id="queryConcsymp" parameterType="HashMap" resultType="DataRecord">
        select dmcs.id,dmcs.main_symp_code,dmcs.disease_code,dmcs.conc_symp_code,dmcs.symp_spec,dmcs.rate,dmcs.default_order,
        dcs.symp_name,dcs.popu_name,dcs.symbol,dcs.gender,dcs.min_age,dcs.max_age
        from diagnosis_mainsymp_concsymp dmcs INNER JOIN diagnosis_concomitant_symptom dcs on(dcs.symp_code=dmcs.conc_symp_code)
        where dmcs.main_symp_code=#{mainSympCode} group by dmcs.conc_symp_code
    </select>

    <select id="queryByconcSympCodes" parameterType="HashMap" resultType="DataRecord">
        select *  from diagnosis_mainsymp_concsymp dmcs
        where dmcs.main_symp_code=#{mainSympCode} and dmcs.conc_symp_code IN
        <foreach item="item" index="index" collection="concSympCodes" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>