<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auto.server.rpc.diagnosis.pojo.UserDiagnosisDetail">


    <select id="getByQuestionCode" parameterType="HashMap" resultType="DataRecord">
    select * from user_diagnosis_detail where diagnosis_id=#{diagnosisId} and question_code=#{questionCode} limit 1
  </select>

    <select id="queryByDiagnosisId" parameterType="HashMap" resultType="DataRecord">
    select * from user_diagnosis_detail where diagnosis_id=#{diagnosisId}
  </select>


</mapper>